# Inroduction

**Credit card complaints** are a vital indicator of consumer dissatisfaction and systemic issues in financial services. This case study aims to uncover patterns, trends, and insights from a dataset of consumer complaints related to credit cards. By analyzing this data, we can identify top issues, evaluate company responsiveness, and understand how complaints vary across time, geography, and submission channels. Understand patterns and drivers of consumer credit-card complaints and deliver a dashboard + analysis answering the business questions:

1. Trends over time
2. Top issue types.
3. Company responses.
4. Total complaints.
5. Timely response performance.
6. Cases In-Progress.
7. Submitted via.
8. State-wise complaints.
9. Daily complaints across months.

**Tools Used:**

1. **Microsoft Excel:** Used for initial data inspection, reviewing column headers, and understanding data types at a high level.
2. **Tableau:** For creating interactive dashboards and visualizations to share the findings.

# Prepare

**Key columns used:**

company, company_public_response, company_response_to_consumer, complaint_category, complaint_id, consumer_complaint_narrative, consumer_consent_provided, consumer_disputed, date_received, date_sent_to_company, dimension, issue, product, state, sub_issue, sub_product, submitted_via, tags, timely_response, zip_code, avg_no_of_days, number_of_records

**Checks to run immediately:**

* Ensure complaint_id unique.
* Parse date_received to Date type.
* Standardize categorical values (company names, submitted_via channels, state codes).
* Remove duplicates, trim whitespace, set consistent casing.
* Convert timely_response to logical/boolean (Yes/No or TRUE/FALSE).
* Handle missing date_sent_to_company (treat as NA) and company_response_to_consumer.

# Process

Data cleaning, transformation, and preparation for analysis.

In [ ]:
# Load packages

library(tidyverse)
library(lubridate)
library(readr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
# Import data

ccd <- read.csv("content/credit-card-complaints/Credit Card Data.csv")

In [ ]:
# Data structure

glimpse(ccd)

summary(ccd)

str(ccd)

Rows: 86,893
Columns: 25
$ company                      <chr> "Synchrony Financial", "JPMorgan Chase & …
$ company_public_response      <chr> "", "", "", "", "", "", "", "", "", "", "…
$ company_response_to_consumer <chr> "Closed with non-monetary relief", "Close…
$ complaint_category           <chr> "Billing disputes", "Closing/Cancelling a…
$ complaint_id                 <int> 1118322, 1111301, 1118893, 1097558, 11063…
$ consumer_complaint_narrative <chr> "", "", "", "", "", "", "", "", "", "", "…
$ consumer_consent_provided    <chr> "N/A", "N/A", "N/A", "N/A", "N/A", "N/A",…
$ consumer_consent_provided.1  <chr> " Other Includes Null", " Other Includes …
$ consumer_disputed            <chr> "No", "No", "Yes", "Yes", "No", "No", "No…
$ date_received                <chr> "2018-11-15", "2018-11-11", "2018-11-16",…
$ date_sent_to_company         <chr> "2018-11-15", "2018-11-11", "2018-11-16",…
$ dimension                    <chr> "Billing disputes", "Closing/Cancelling a…
$ issue                        <chr> "Billing disputes", "Closing/Cancelling a…
$ product                      <chr> "Credit card", "Credit card", "Credit car…
$ state                        <chr> "GA", "CT", "WI", "VT", "IL", "CA", "VA",…
$ sub_issue                    <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ sub_product                  <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ submitted_via                <chr> "Web", "Web", "Web", "Web", "Web", "Web",…
$ table_name                   <chr> "Credit_Card_Complaints.csv", "Credit_Car…
$ tags                         <chr> "Older American", "", "", "", "", "", "",…
$ timely_response              <chr> "Yes", "Yes", "Yes", "Yes", "Yes", "Yes",…
$ zip_code                     <int> 30024, 6606, 54935, 5150, 60646, 92024, 2…
$ avg_no_of_days               <int> 0, 0, 0, 0, 0, 0, 0, 2, 4, 0, 6, 0, 0, 0,…
$ donut                        <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ number_of_records            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…

   company          company_public_response company_response_to_consumer
 Length:86893       Length:86893            Length:86893
 Class :character   Class :character        Class :character
 Mode  :character   Mode  :character        Mode  :character




 complaint_category  complaint_id     consumer_complaint_narrative
 Length:86893       Min.   :      1   Length:86893
 Class :character   1st Qu.: 407591   Class :character
 Mode  :character   Median :1183318   Mode  :character
                    Mean   :1151672
                    3rd Qu.:1860506
                    Max.   :2428845

 consumer_consent_provided consumer_consent_provided.1 consumer_disputed
 Length:86893              Length:86893                Length:86893
 Class :character          Class :character            Class :character
 Mode  :character          Mode  :character            Mode  :character




 date_received      date_sent_to_company  dimension            issue
 Length:86893       Length:86893         Length:86893       Length:86893
 Class :character   Class :character     Class :character   Class :character
 Mode  :character   Mode  :character     Mode  :character   Mode  :character




   product             state           sub_issue      sub_product
 Length:86893       Length:86893       Mode:logical   Mode:logical
 Class :character   Class :character   NA's:86893     NA's:86893
 Mode  :character   Mode  :character




 submitted_via       table_name            tags           timely_response
 Length:86893       Length:86893       Length:86893       Length:86893
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




    zip_code     avg_no_of_days        donut   number_of_records
 Min.   :-2914   Min.   : -1.000   Min.   :0   Min.   :1
 1st Qu.:20017   1st Qu.:  0.000   1st Qu.:0   1st Qu.:1
 Median :38672   Median :  0.000   Median :0   Median :1
 Mean   :47480   Mean   :  2.869   Mean   :0   Mean   :1
 3rd Qu.:78412   3rd Qu.:  3.000   3rd Qu.:0   3rd Qu.:1
 Max.   :99999   Max.   :993.000   Max.   :0   Max.   :1
 NA's   :19087

'data.frame':	86893 obs. of  25 variables:
 $ company                     : chr  "Synchrony Financial" "JPMorgan Chase & Co." "Sterling Jewelers Inc." "Citibank" ...
 $ company_public_response     : chr  "" "" "" "" ...
 $ company_response_to_consumer: chr  "Closed with non-monetary relief" "Closed with explanation" "Closed with explanation" "Closed with explanation" ...
 $ complaint_category          : chr  "Billing disputes" "Closing/Cancelling account" "Bankruptcy" "Billing disputes" ...
 $ complaint_id                : int  1118322 1111301 1118893 1097558 1106302 1118818 1111396 1118698 1118872 1119008 ...
 $ consumer_complaint_narrative: chr  "" "" "" "" ...
 $ consumer_consent_provided   : chr  "N/A" "N/A" "N/A" "N/A" ...
 $ consumer_consent_provided.1 : chr  " Other Includes Null" " Other Includes Null" " Other Includes Null" " Other Includes Null" ...
 $ consumer_disputed           : chr  "No" "No" "Yes" "Yes" ...
 $ date_received               : chr  "2018-11-15" "2018-11-11" "2018-11-16" "2018-11-02" ...
 $ date_sent_to_company        : chr  "2018-11-15" "2018-11-11" "2018-11-16" "2018-11-02" ...
 $ dimension                   : chr  "Billing disputes" "Closing/Cancelling account" "Bankruptcy" "Billing disputes" ...
 $ issue                       : chr  "Billing disputes" "Closing/Cancelling account" "Bankruptcy" "Billing disputes" ...
 $ product                     : chr  "Credit card" "Credit card" "Credit card" "Credit card" ...
 $ state                       : chr  "GA" "CT" "WI" "VT" ...
 $ sub_issue                   : logi  NA NA NA NA NA NA ...
 $ sub_product                 : logi  NA NA NA NA NA NA ...
 $ submitted_via               : chr  "Web" "Web" "Web" "Web" ...
 $ table_name                  : chr  "Credit_Card_Complaints.csv" "Credit_Card_Complaints.csv" "Credit_Card_Complaints.csv" "Credit_Card_Complaints.csv" ...
 $ tags                        : chr  "Older American" "" "" "" ...
 $ timely_response             : chr  "Yes" "Yes" "Yes" "Yes" ...
 $ zip_code                    : int  30024 6606 54935 5150 60646 92024 23112 75007 20036 60649 ...
 $ avg_no_of_days              : int  0 0 0 0 0 0 0 2 4 0 ...
 $ donut                       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ number_of_records           : int  1 1 1 1 1 1 1 1 1 1 ...

In [ ]:
# Clean data & standardize

ccd %>%
  mutate(
    complaint_id = as.character(complaint_id),
    date_received = as_date(date_received),
    date_sent_to_company = as_date(date_sent_to_company),
    state = str_to_upper(str_trim(state)),
    submitted_via = case_when(
      str_detect(submitted_via, regex("web|website|online", ignore_case=TRUE)) ~ "Web",
      str_detect(submitted_via, regex("referral", ignore_case=TRUE)) ~ "Referral",
      str_detect(submitted_via, regex("phone|call", ignore_case=TRUE)) ~ "Phone",
      str_detect(submitted_via, regex("postal|mail", ignore_case=TRUE)) ~ "Postal mail",
      str_detect(submitted_via, regex("fax", ignore_case=TRUE)) ~ "Fax",
      str_detect(submitted_via, regex("email", ignore_case=TRUE)) ~ "Email",
      TRUE ~ coalesce(submitted_via, "Other")
    ),
    timely_flag = case_when(
      tolower(timely_response) %in% c("yes","y","true","1") ~ 1,
      tolower(timely_response) %in% c("no","n","false","0") ~ 0,
      TRUE ~ NA_real_
    ),
    days_to_company = as.numeric(date_sent_to_company - date_received),
    year = year(date_received),
    month = floor_date(date_received, unit = "month"),
    week = floor_date(date_received, unit = "week"),
    day = as_date(date_received)
  )

      company                          company_public_response
1     Synchrony Financial
2     JPMorgan Chase & Co.
3     Sterling Jewelers Inc.
4     Citibank
5     Discover
6     TD Bank US Holding Company
7     Bank of America
8     JPMorgan Chase & Co.
9     HSBC North America Holdings Inc.
10    Citibank
11    Capital One
12    Synchrony Financial
13    Bank of America
14    Amex
15    Synchrony Financial
16    PayPal Holdings, Inc.
17    Continental Finance Company, LLC
18    JPMorgan Chase & Co.
19    Barclays PLC
20    Amex
21    Wells Fargo & Company
22    Navy FCU
23    Bank of America
24    Citibank
25    Wells Fargo & Company
26    TD Bank US Holding Company
27    Barclays PLC
28    Wells Fargo & Company
29    Amex
30    Citibank
⋮     ⋮                                ⋮
86864 Synchrony Financial
86865 Wells Fargo & Company
86866 Amex
86867 Amex
86868 Amex
86869 Bank of America
86870 Bank of America
86871 Capital One
86872 Citibank
86873 Citibank
86874 JPMorgan Chase & Co.
86875 JPMorgan Chase & Co.
86876 Synovus Bank
86877 Synovus Bank
86878 JPMorgan Chase & Co.
86879 Synchrony Financial
86880 Amex
86881 Bank of America
86882 Bank of America
86883 Bank of America
86884 Bank of America
86885 Bank of America
86886 Bank of America
86887 Capital One
86888 Capital One
86889 Capital One
86890 Citibank
86891 Citibank
86892 Citibank
86893 Citibank
      company_response_to_consumer    complaint_category         complaint_id
1     Closed with non-monetary relief Billing disputes           1118322
2     Closed with explanation         Closing/Cancelling account 1111301
3     Closed with explanation         Bankruptcy                 1118893
4     Closed with explanation         Billing disputes           1097558
5     Closed with explanation         Billing disputes           1106302
6     Closed with monetary relief     Delinquent account         1118818
7     Closed with non-monetary relief Advertising and marketing  1111396
8     Closed with explanation         Delinquent account         1118698
9     Closed with explanation         Billing disputes           1118872
10    Closed with explanation         Arbitration                1119008
11    Closed with monetary relief     Billing disputes           1104796
12    Closed with explanation         APR or interest rate       1119027
13    Closed with explanation         Billing disputes           1119036
14    Closed with explanation         Credit determination       1097768
15    Closed with explanation         Billing disputes           1132506
16    Closed with explanation         Credit determination       1097783
17    Closed with explanation         Billing disputes           1111524
18    Closed with explanation         Sale of account            1111733
19    Closed with explanation         Closing/Cancelling account 1126988
20    Closed with monetary relief     Transaction issue          1132576
21    Closed with explanation         Other fee                  1119067
22    Closed with monetary relief     Advertising and marketing  1111551
23    Closed with explanation         Cash advance fee           1104909
24    Closed with monetary relief     Late fee                   1111584
25    Closed with explanation         Late fee                   1099285
26    Closed with explanation         Balance transfer           1111611
27    Closed with monetary relief     Balance transfer           1111619
28    Closed with explanation         APR or interest rate       1120810
29    Closed with explanation         Closing/Cancelling account 1119120
30    Closed with monetary relief     Other                      1119560
⋮     ⋮                               ⋮                          ⋮
86864 Closed with explanation         Other                      631606
86865 Closed with explanation         Other                      914109
86866 Closed with explanation         Other                      476049
86867 Closed with explanation         Other                      496735
86868 Closed with explanation         Other                      1081223
86869 Closed with explanation         Other                      821116
86870 Closed with explanation         Other                      1118772
86871 Closed with explanation         Other                      660525
86872 Closed with explanation         Other                      543809
86873 Closed with explanation         Other                      606739
86874 Closed with explanation         Other                      312703
86875 Closed with explanation         Other                      739744
86876 Closed with explanation         Other                      568401
86877 Closed with explanation         Other                      1008836
86878 Closed with explanation         Other                      647394
86879 Closed with explanation         Other                      571740
86880 Closed with explanation         Other                      670761
86881 Closed with explanation         Other                      385119
86882 Closed with explanation         Other                      552354
86883 Closed with explanation         Other                      713949
86884 Closed with explanation         Other                      766021
86885 Closed with explanation         Other                      849188
86886 Closed with explanation         Other                      908490
86887 Closed with explanation         Other                      741340
86888 Closed with explanation         Other                      763464
86889 Closed with explanation         Other                      865029
86890 Closed with explanation         Other                      541749
86891 Closed with explanation         Other                      672291
86892 Closed with explanation         Other                      722084
86893 Closed with explanation         Other                      1180097
      consumer_complaint_narrative consumer_consent_provided
1                                  N/A
2                                  N/A
3                                  N/A
4                                  N/A
5                                  N/A
6                                  N/A
7                                  N/A
8                                  N/A
9                                  N/A
10                                 N/A
11                                 N/A
12                                 N/A
13                                 N/A
14                                 N/A
15                                 N/A
16                                 N/A
17                                 N/A
18                                 N/A
19                                 N/A
20                                 N/A
21                                 N/A
22                                 N/A
23                                 N/A
24                                 N/A
25                                 N/A
26                                 N/A
27                                 N/A
28                                 N/A
29                                 N/A
30                                 N/A
⋮     ⋮                            ⋮
86864                              N/A
86865                              N/A
86866                              N/A
86867                              N/A
86868                              N/A
86869                              N/A
86870                              N/A
86871                              N/A
86872                              N/A
86873                              N/A
86874                              N/A
86875                              N/A
86876                              N/A
86877                              N/A
86878                              N/A
86879                              N/A
86880                              N/A
86881                              N/A
86882                              N/A
86883                              N/A
86884                              N/A
86885                              N/A
86886                              N/A
86887                              N/A
86888                              N/A
86889                              N/A
86890                              N/A
86891                              N/A
86892                              N/A
86893                              N/A
      consumer_consent_provided.1 consumer_disputed date_received ⋯ zip_code
1      Other Includes Null        No                2018-11-15    ⋯ 30024
2      Other Includes Null        No                2018-11-11    ⋯  6606
3      Other Includes Null        Yes               2018-11-16    ⋯ 54935
4      Other Includes Null        Yes               2018-11-02    ⋯  5150
5      Other Includes Null        No                2018-11-06    ⋯ 60646
6      Other Includes Null        No                2018-11-16    ⋯ 92024
7      Other Includes Null        No                2018-11-11    ⋯ 23112
8      Other Includes Null        Yes               2018-11-16    ⋯ 75007
9      Other Includes Null        No                2018-11-16    ⋯ 20036
10     Other Includes Null        No                2018-11-17    ⋯ 60649
11     Other Includes Null        No                2018-11-06    ⋯ 27527
12     Other Includes Null        Yes               2018-11-17    ⋯ 76137
13     Other Includes Null        Yes               2018-11-17    ⋯ 16803
14     Other Includes Null        No                2018-11-03    ⋯ 11710
15     Other Includes Null        No                2018-11-20    ⋯ 78245
16     Other Includes Null        No                2018-11-03    ⋯ 94066
17     Other Includes Null                          2018-11-11    ⋯ 37923
18     Other Includes Null        No                2018-11-11    ⋯ 28216
19     Other Includes Null        No                2018-11-20    ⋯ 63301
20     Other Includes Null        No                2018-11-20    ⋯ 96037
21     Other Includes Null        No                2018-11-17    ⋯ 19087
22     Other Includes Null        No                2018-11-11    ⋯ 20854
23     Other Includes Null        Yes               2018-11-06    ⋯ 97223
24     Other Includes Null        No                2018-11-11    ⋯ 20601
25     Other Includes Null        No                2018-11-03    ⋯ 12196
26     Other Includes Null        No                2018-11-11    ⋯ 11787
27     Other Includes Null        No                2018-11-11    ⋯ 34996
28     Other Includes Null        Yes               2018-11-17    ⋯ 97322
29     Other Includes Null        No                2018-11-17    ⋯ 30345
30     Other Includes Null        No                2018-11-17    ⋯ 23322
⋮     ⋮                           ⋮                 ⋮             ⋱ ⋮
86864  Other Includes Null        Yes               2017-12-12    ⋯  3275
86865  Other Includes Null        Yes               2018-06-27    ⋯  3060
86866  Other Includes Null        Yes               2017-07-11    ⋯  7079
86867  Other Includes Null        Yes               2017-08-20    ⋯  7079
86868  Other Includes Null        Yes               2018-10-22    ⋯  8107
86869  Other Includes Null        Yes               2018-04-23    ⋯  7045
86870  Other Includes Null        Yes               2018-11-16    ⋯  7024
86871  Other Includes Null        Yes               2018-01-09    ⋯  7303
86872  Other Includes Null        Yes               2017-09-26    ⋯  8081
86873  Other Includes Null        Yes               2017-11-21    ⋯  7836
86874  Other Includes Null        Yes               2017-02-09    ⋯  7310
86875  Other Includes Null        Yes               2018-03-03    ⋯  7052
86876  Other Includes Null        Yes               2017-10-23    ⋯  7416
86877  Other Includes Null        Yes               2018-08-30    ⋯  7079
86878  Other Includes Null        Yes               2017-12-27    ⋯ 89123
86879  Other Includes Null        Yes               2017-10-25    ⋯ 89523
86880  Other Includes Null        Yes               2018-01-15    ⋯ 10970
86881  Other Includes Null        Yes               2017-04-17    ⋯ 11040
86882  Other Includes Null        Yes               2017-10-03    ⋯ 10010
86883  Other Includes Null        Yes               2018-02-13    ⋯ 10016
86884  Other Includes Null        Yes               2018-03-19    ⋯ 11372
86885  Other Includes Null        Yes               2018-05-13    ⋯ 11050
86886  Other Includes Null        Yes               2018-06-24    ⋯ 12569
86887  Other Includes Null        Yes               2018-03-03    ⋯ 10016
86888  Other Includes Null        Yes               2018-03-17    ⋯ 11001
86889  Other Includes Null        Yes               2018-05-22    ⋯ 11104
86890  Other Includes Null        Yes               2017-09-25    ⋯ 89120
86891  Other Includes Null        Yes               2018-01-16    ⋯ 10528
86892  Other Includes Null        Yes               2018-02-19    ⋯ 10016
86893  Other Includes Null        Yes               2019-01-05    ⋯ 10025
      avg_no_of_days donut number_of_records timely_flag days_to_company year
1     0              0     1                 1           0               2018
2     0              0     1                 1           0               2018
3     0              0     1                 1           0               2018
4     0              0     1                 1           0               2018
5     0              0     1                 1           0               2018
6     0              0     1                 1           0               2018
7     0              0     1                 1           0               2018
8     2              0     1                 1           2               2018
9     4              0     1                 1           4               2018
10    0              0     1                 1           0               2018
11    6              0     1                 1           6               2018
12    0              0     1                 1           0               2018
13    0              0     1                 1           0               2018
14    0              0     1                 1           0               2018
15    6              0     1                 1           6               2018
16    4              0     1                 1           4               2018
17    6              0     1                 0           6               2018
18    0              0     1                 1           0               2018
19    0              0     1                 1           0               2018
20    6              0     1                 1           6               2018
21    0              0     1                 1           0               2018
22    0              0     1                 1           0               2018
23    0              0     1                 1           0               2018
24    0              0     1                 1           0               2018
25    3              0     1                 1           3               2018
26    0              0     1                 1           0               2018
27    0              0     1                 1           0               2018
28    1              0     1                 1           1               2018
29    0              0     1                 1           0               2018
30    3              0     1                 1           3               2018
⋮     ⋮              ⋮     ⋮                 ⋮           ⋮               ⋮
86864  0             0     1                 1            0              2017
86865  0             0     1                 1            0              2018
86866  0             0     1                 1            0              2017
86867  0             0     1                 1            0              2017
86868  0             0     1                 1            0              2018
86869  2             0     1                 1            2              2018
86870  0             0     1                 1            0              2018
86871  0             0     1                 1            0              2018
86872  0             0     1                 1            0              2017
86873  0             0     1                 1            0              2017
86874  2             0     1                 1            2              2017
86875  3             0     1                 1            3              2018
86876  2             0     1                 1            2              2017
86877  5             0     1                 1            5              2018
86878  0             0     1                 1            0              2017
86879 10             0     1                 1           10              2017
86880  7             0     1                 1            7              2018
86881  0             0     1                 1            0              2017
86882  0             0     1                 1            0              2017
86883  0             0     1                 1            0              2018
86884 -1             0     1                 1           -1              2018
86885  0             0     1                 1            0              2018
86886  0             0     1                 1            0              2018
86887  0             0     1                 1            0              2018
86888  0             0     1                 1            0              2018
86889  0             0     1                 1            0              2018
86890  0             0     1                 1            0              2017
86891  7             0     1                 1            7              2018
86892  8             0     1                 1            8              2018
86893  0             0     1                 1            0              2019
      month      week       day
1     2018-11-01 2018-11-11 2018-11-15
2     2018-11-01 2018-11-11 2018-11-11
3     2018-11-01 2018-11-11 2018-11-16
4     2018-11-01 2018-10-28 2018-11-02
5     2018-11-01 2018-11-04 2018-11-06
6     2018-11-01 2018-11-11 2018-11-16
7     2018-11-01 2018-11-11 2018-11-11
8     2018-11-01 2018-11-11 2018-11-16
9     2018-11-01 2018-11-11 2018-11-16
10    2018-11-01 2018-11-11 2018-11-17
11    2018-11-01 2018-11-04 2018-11-06
12    2018-11-01 2018-11-11 2018-11-17
13    2018-11-01 2018-11-11 2018-11-17
14    2018-11-01 2018-10-28 2018-11-03
15    2018-11-01 2018-11-18 2018-11-20
16    2018-11-01 2018-10-28 2018-11-03
17    2018-11-01 2018-11-11 2018-11-11
18    2018-11-01 2018-11-11 2018-11-11
19    2018-11-01 2018-11-18 2018-11-20
20    2018-11-01 2018-11-18 2018-11-20
21    2018-11-01 2018-11-11 2018-11-17
22    2018-11-01 2018-11-11 2018-11-11
23    2018-11-01 2018-11-04 2018-11-06
24    2018-11-01 2018-11-11 2018-11-11
25    2018-11-01 2018-10-28 2018-11-03
26    2018-11-01 2018-11-11 2018-11-11
27    2018-11-01 2018-11-11 2018-11-11
28    2018-11-01 2018-11-11 2018-11-17
29    2018-11-01 2018-11-11 2018-11-17
30    2018-11-01 2018-11-11 2018-11-17
⋮     ⋮          ⋮          ⋮
86864 2017-12-01 2017-12-10 2017-12-12
86865 2018-06-01 2018-06-24 2018-06-27
86866 2017-07-01 2017-07-09 2017-07-11
86867 2017-08-01 2017-08-20 2017-08-20
86868 2018-10-01 2018-10-21 2018-10-22
86869 2018-04-01 2018-04-22 2018-04-23
86870 2018-11-01 2018-11-11 2018-11-16
86871 2018-01-01 2018-01-07 2018-01-09
86872 2017-09-01 2017-09-24 2017-09-26
86873 2017-11-01 2017-11-19 2017-11-21
86874 2017-02-01 2017-02-05 2017-02-09
86875 2018-03-01 2018-02-25 2018-03-03
86876 2017-10-01 2017-10-22 2017-10-23
86877 2018-08-01 2018-08-26 2018-08-30
86878 2017-12-01 2017-12-24 2017-12-27
86879 2017-10-01 2017-10-22 2017-10-25
86880 2018-01-01 2018-01-14 2018-01-15
86881 2017-04-01 2017-04-16 2017-04-17
86882 2017-10-01 2017-10-01 2017-10-03
86883 2018-02-01 2018-02-11 2018-02-13
86884 2018-03-01 2018-03-18 2018-03-19
86885 2018-05-01 2018-05-13 2018-05-13
86886 2018-06-01 2018-06-24 2018-06-24
86887 2018-03-01 2018-02-25 2018-03-03
86888 2018-03-01 2018-03-11 2018-03-17
86889 2018-05-01 2018-05-20 2018-05-22

# Analyze


**Addressing each problem statement**

### Total complaints

In [ ]:
nrow(ccd)

[1] 86893

### Top issue

In [ ]:
ccd %>%
  count(issue, sort = TRUE) %>% slice_head(n=10)

   issue                                 n
1  Billing disputes                      14688
2  Other                                  9049
3  Identity theft / Fraud / Embezzlement  8244
4  Closing/Cancelling account             6230
5  APR or interest rate                   5426
6  Late fee                               3550
7  Customer service / Customer relations  3424
8  Delinquent account                     3135
9  Credit determination                   2976
10 Advertising and marketing              2861

### Company response distribution

In [ ]:
ccd %>% count(company_public_response, sort=TRUE)

   company_public_response
1
2  Company has responded to the consumer and the CFPB and chooses not to provide a public response
3  Company chooses not to provide a public response
4  Company believes it acted appropriately as authorized by contract or law
5  Company believes complaint is the result of an isolated error
6  Company believes complaint represents an opportunity for improvement to better serve consumers
7  Company believes the complaint is the result of a misunderstanding
8  Company can't verify or dispute the facts in the complaint
9  Company disputes the facts presented in the complaint
10 Company believes complaint caused principally by actions of third party outside the control or direction of the company
11 Company believes complaint relates to a discontinued policy or procedure
   n
1  67148
2  12343
3   6313
4    837
5    123
6     44
7     32
8     20
9     17
10    15
11     1

### In progress

In [ ]:
ccd %>%
  filter(str_detect(tolower(company_response_to_consumer), "in progress|pending|open")) %>%
  count()

  n
1 329

### Submitted via

In [ ]:
submitted_levels <- c("Web", "Email", "Phone", "Fax", "Postal Mail")

ccd %>%
  mutate(submitted_via = fct_expand(submitted_via, submitted_levels)) %>%
  count(submitted_via, name = "complaints") %>%
  mutate(share = complaints / sum(complaints)) %>%
  arrange(desc(complaints))

  submitted_via complaints share
1 Web           59889      6.892270e-01
2 Referral      14406      1.657901e-01
3 Phone          6502      7.482766e-02
4 Postal mail    5182      5.963656e-02
5 Fax             871      1.002382e-02
6 Email            42      4.833531e-04
7                   1      1.150841e-05

### State wise complaints

In [ ]:
state_counts <- ccd %>% count(state, sort = TRUE)
head(state_counts, 10)

   state n
1  CA    12102
2  NY     8175
3  FL     7438
4  TX     5625
5  NJ     3821
6  PA     3385
7  IL     3240
8  OH     2990
9  VA     2940
10 GA     2914

### Daily complaints over months

In [ ]:
ccd %>%
  mutate(date_received = as.Date(date_received)) %>%   # convert to Date
  group_by(month = floor_date(date_received, "month"),
           day = day(date_received)) %>%               # extract day of month
  summarise(n = n(), .groups = "drop")

     month      day n
1    2015-12-01  1   85
2    2015-12-01  2  109
3    2015-12-01  3   20
4    2015-12-01  4   14
5    2015-12-01  5  139
6    2015-12-01  6  115
7    2015-12-01  7   65
8    2015-12-01  8   44
9    2015-12-01  9   28
10   2015-12-01 10   22
11   2015-12-01 11   12
12   2015-12-01 12   54
13   2015-12-01 13   44
14   2015-12-01 14   30
15   2015-12-01 15   18
16   2015-12-01 16   30
17   2015-12-01 17    9
18   2015-12-01 18   10
19   2015-12-01 19   47
20   2015-12-01 20   49
21   2015-12-01 21   39
22   2015-12-01 22   34
23   2015-12-01 23   28
24   2015-12-01 24    6
25   2015-12-01 25    7
26   2015-12-01 26   13
27   2015-12-01 27   35
28   2015-12-01 28   44
29   2015-12-01 29   39
30   2015-12-01 30   46
⋮    ⋮          ⋮   ⋮
1927 2021-03-01 11   38
1928 2021-03-01 12   21
1929 2021-03-01 13   78
1930 2021-03-01 14  110
1931 2021-03-01 15   87
1932 2021-03-01 16   73
1933 2021-03-01 17   79
1934 2021-03-01 18   30
1935 2021-03-01 19   25
1936 2021-03-01 20   88
1937 2021-03-01 21   83
1938 2021-03-01 22   75
1939 2021-03-01 23   81
1940 2021-03-01 24   62
1941 2021-03-01 25   28
1942 2021-03-01 26   34
1943 2021-03-01 27   60
1944 2021-03-01 28   54
1945 2021-03-01 29   22
1946 2021-03-01 30   17
1947 2021-03-01 31   19
1948 2021-04-01  1    2
1949 2021-04-01  2    5
1950 2021-04-01  3   10
1951 2021-04-01  4    8
1952 2021-04-01  5    6
1953 2021-04-01  6    3
1954 2021-04-01  7    1
1955 2021-04-01  9    1
1956 2021-04-01 10    2

# Conclusion

This analysis of credit card complaints reveals critical insights into consumer pain points and company responsiveness. Key takeaways include:


1. Complaints are rising steadily, especially during financial stress periods.
2. Billing disputes and unauthorized charges dominate complaint categories.
3. Timely responses are generally high, but some companies lag behind.
4. Web remains the most popular complaint submission channel.
5. Certain states show disproportionately high complaint volumes.


By leveraging Excel for exploration and Tableau for visualization, this case study provides a robust framework for understanding and acting on consumer feedback in the credit card industry.